<!DOCTYPE html>
<html>
    <head>
        <title>Sim Racing</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    </head>
    <body>
        <!-- Link back home -->
        <a href="/loggedin">Home</a>
        <h1>iRacing Results</h1>
        <!-- Unordered list of recient finished -->
        <h2>IMSA Results</h2>
        <ul>
            <li>Series - Finish - Start</li>
            <li>IMSA iRacing Series - 26 - 32</li>
            <li>IMSA iRacing Series - Fixed - 6 - 11</li>
            <li>IMSA iRacing Series - Fixed - 3 - 5</li>
        </ul>
        <h3>Lap Data From last Race</h3>
        <!-- Table of lap data -->
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Delta</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02:09.468</td>
                    <td>07.113</td>
                    <td>+05.283</td>
                </tr>
                <tr>
                    <td>02:02.867</td>
                    <td>00.513</td>
                    <td>-01.316</td>
                </tr>
                <tr>
                    <td>02:04.184</td>
                    <td>01.829</td>
                    <td>+00.000</td>
                </tr>
                <tr>
                    <td>02:06.509</td>
                    <td>04.154</td>
                    <td>+02.324</td>
                </tr>
                <tr>
                    <td>02:05.134</td>
                    <td>02.779</td>
                    <td>+00.950</td>
                </tr>
                <tr>
                    <td>02:03.109</td>
                    <td>00.754</td>
                    <td>-01.075</td>
                </tr>
                <tr>
                    <td>02:12.666</td>
                    <td>10.311</td>
                    <td>+08.481</td>
                </tr>
                <tr>
                    <td>02:03.905</td>
                    <td>01.551</td>
                    <td>-00.278</td>
                </tr>
                <tr>
                    <td>02:04.475</td>
                    <td>02.120</td>
                    <td>+00.290</td>
                </tr>
                <tr>
                    <td>02:02.354</td>
                    <td>00.000</td>
                    <td>-01.829</td>
                </tr>
                <tr>
                    <td>02:02.664</td>
                    <td>00.310</td>
                    <td>-01.519</td>
                </tr>
            </tbody>
        </table>
        <h3>My Cars</h3>
        <div class="grid-container">
            <div class="image1">
                <img src="{{ url_for('static', filename='BMW.png') }}" />
                <img src="{{ url_for('static', filename='Mustang.png') }}" />
            </div>
            <div class="image1">
                <img src="{{ url_for('static', filename='PorscheGTP.png') }}" />
                <img src="{{ url_for('static', filename='W13.png') }}" />
            </div>
          </div>
          <!-- Iracing Links-->
        <h4>iRacing</h4>
        <p>To learn more about sim racing go to iRacing.com</p>
        <a href="https://www.iRacing.com">iRacing</a>
    </body>
</html>