<!DOCTYPE html>
<!-- Displays page showing info about my games -->
<html>
    <head>
        <title>Update Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    </head>
    <body>
        <!-- Link back home -->
        <div class="card-holder">
            <div class="card-item" {{signup}}>
                <p>Sign Up</p>
                <form method="post">
                    <label for="old_pw">Old Password:</label><br>
                    <input type="password" id="old_pw" name="old_pw"><br>
                    <p style="color: red;" {{old_pw}}>Password does not match current password</p>
                    <label for="pword">Enter New Password Twice:</label><br>
                    <input type="password" id="pword" name="pword"><br><br>
                    <input type="password" id="pword2" name="pword2"><br>
                    <p style="color: red;" {{pw_match}}>New Passwords Do Not Match</p>
                    <p style="color: red;" {{pw}}>Invalid Password</p>
                    <p style="color: red;" {{common}}>Password is in the common password list</p>
                    <p>1 Upper, 1 Lower, 1 Digit</p>
                    <p>1 Special Char, at least 12 letters</p>
                    <p>Make it an uncommon password!!</p>
                    <input type="submit" value="Submit">
                </form>
                <br><br>
                <a href="{{ url_for('login') }}"">Home</a>
            </div>
            <div class="card-item" {{signup_success}}>
                <h2>Password Successfully Updated</h2>
                <a href="{{ url_for('login') }}"">Home</a>
            </div>
        </div>
    </body>
</html>