table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    color: black;
}
td {
    color: white;
}
body {
    color: white;
    background-color: hsl(0, 0%, 18%);
}
a {
    color: rgb(184, 184, 184);
}